<section class="section-intro">
    <img src="../../assets//images/section-intro-bg.svg" class="intro-bg">
    <div class=text-intro-box>
        <p style="font-size: 36px; font-weight: bold;">ICT SCHOOL</p> <br>
        <p>เรียนคอม ต่อหุ่นยนต์ เขียนโปรแกรม คอมพิวเตอร์กราฟิก วาดการ์ตูน สร้างเว็บไซต์</p>
        <button class="btn-intro-question"> ติดต่อสอบถาม </button>
        <button class="btn-intro-interest"> สนใจเรียน </button>
    </div>
    <img src="../../assets/images/laptop.png" class="img-laptop">
</section>
