* {
    margin: 0px ;
    padding: 0px ;
    box-sizing: border-box ;
    font-family: Poppin-Light ;
}

/* Font */
@font-face {
    font-family: Poppin-Light;
    src: url(assets/fonts/Poppins/Poppins-Light.ttf);
}